# Flask Configuration
SECRET_KEY=your_secret_key_here

# Database Configuration (Leave blank to use local SQLite site.db fallback)
DATABASE_URL=postgresql://username:password@localhost:5432/dbname

# Cloudinary Configuration (For blog post image uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
